@model IEnumerable<EstudoOtel.Models.Pessoa>

@{
    ViewData["Title"] = "Pessoas";
}

<h1>Pessoas</h1>

<p>
    <a asp-controller="Pessoa" asp-action="Create" class="btn btn-primary">Criar nova</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Nome</td>
            <td>@item.Email</td>
            <td>
                <a asp-controller="Pessoa" asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Detalhes</a>
                <a asp-controller="Pessoa" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Editar</a>
                <a asp-controller="Pessoa" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Excluir</a>
            </td>
        </tr>
    }
    </tbody>
</table>